# Configuração do Banco de Dados PostgreSQL (NEON)
DATABASE_URL=postgresql://usuario:senha@host/database

# Porta do servidor
PORT=3000

# Ambiente
NODE_ENV=production

# Timezone
TZ=America/Sao_Paulo
